    /*Give the <body> element a background of #bda464*/
body {
    background-color:#bda464;
}
/*Make the <h1> elements blue*/
h1 {
    color:blue;
}
/*Make all <li> elements in the shade of hexadecimal blue*/
li {
    color:#0000FF; /* This is a shade of blue */   
}

/*Paragraph background to orange*/
p {
    background-color:orange;
}   

/*Make all <h3> have 5px red solid border*/
h3 {
    border:5px solid red;
}   

/*Give everything with <abbr> bold and underlined*/
abbr {
    font-weight:bold;
    text-decoration:underline;
}

/*Give elements with class "explanation" red*/
.explanation {
    color:red;
}

/*Give <p> in id "zen-benefits" pink background*/
#zen-benefits p {
    background-color:pink;
}   

/*Make <li> adjacent to <h2> red background*/
h2 + li {
    background-color:red;
}   

/*Give <em> inside <p> red and bold*/
p em {
    color:red;
    font-weight:bold;
}   

/* Give visited link green */
a:visited {
    color:green;
}   

/* Change to body font to any google font as you like */
body {
    font-family:'Times New Roman',sans-serif;
}   

/* Add any animation to <h1> (try the new one not same as the example) */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
h1 {
    animation: fadeIn 2s ease-in-out infinite alternate;
}  /* อันนี้ผมอ่านในdocument แล้วanimationมันไม่ทำงานผมเลยเอาไปถาม ai ครับ 