* {
    margin:0;
    padding:0;
}


body{
    font-family:'arial',sans-serif;
    background:linear-gradient(135deg, #e163a5 0%, #3eb8cd 100%); 
    color:#fff;
    padding:20px; 
    gap:0px;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-book{
    background-color:blue;
    padding:20px; 
    text-transform:uppercase;
    font-size:2rem;
    font:weight 400px;
    margin-bottom:0;
    width:280px;
    height:auto;
    border-radius:5px;
    
}


#taskInput {
    width:300px;
    height: 50px;
    padding:10px;
    border: none;
    border-radius:5px;
    font-size: 16px;
}

#taskList {
    color:black;
    background-color:white;
    list-style-type:NONE;
}
.delete-icon{
    width:20px;  
    object-fit:contain;
}   

.delete-btn{
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
